body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    background-image:url('../images/connect.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(250, 247, 247);
    color: #333; /* Changement de couleur pour le contraste */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px; /* Fixe la largeur du login-box */
    margin-left: 500px;
}

.logo {
    width: 100px; /* Ajustez la taille selon votre logo */
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #888;
}

.input-group input {
    width: 60%;
    padding: 10px 10px 10px 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.forgot-password,
.create-account {
    display: block;
    margin: 10px 0;
    color: #007BFF;
    text-decoration: none;
}

.btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 35%;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .login-box {
        width: 90%;
    }
}